.card{
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  border: 1px solid black;
  border-radius: 3px;
  background-color: chartreuse;
  .title{
    display: flex;
    justify-content: center;

  }
  .icons{
    width: 20px;
    height: 20px;
  }
  .icons:hover{
    color: red;
    cursor: pointer;
  }
}
