.card{
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  border: 1px solid black;
  border-radius: 3px;
  background-color: chartreuse;
  margin: 30px 20px 30px 40px; //  верх, право, низ, лево (по часовой стрелке)
    .title{
    display: flex;
    justify-content: center;

  }
  .characteristics{
    display: flex;
    max-width: 100%;
    align-items: center;

    .icons{
      width: 20px;
      height: 20px;
    }
    .icons:hover{
      color: red;
      cursor: pointer;
    }
  }

}
